<!DOCTYPE html>
<html lang="en" ng-app="RssNewsAPI">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/dashboard.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RSS News API | Dashboard</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />

</head>

<body ng-controller="DashboardController as DashCtrl">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="/dashboard">
                    <img src="images/logo.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="/dashboard">
                    <img src="images/logo-mini.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item dropdown d-none d-lg-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown">
                            <span class="profile-text">Hello, {{data.username}}!</span>
                            <!-- <img class="img-xs rounded-circle" src="images/faces/face1.jpg" alt="Profile image"> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
                            <br>
                            <a class="dropdown-item">
                                Change Password
                            </a>
                            <a class="dropdown-item" href="/logout">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analytics">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <!-- <i class="menu-icon mdi mdi-rss"></i> -->
                            <span class="menu-title">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/keys">
                            <i class="menu-icon mdi mdi-key"></i>
                            <span class="menu-title">API keys</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel" ng-cloak>
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Example URL:</h4>


                                    <input disabled type="text" class="form-control fs-2" ng-model="exampleURL">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Parameters</h4>
                                    <p class="card-description">
                                        <small class="text-muted">
                                            List of available parameters
                                        </small>
                                    </p>
                                    <ul>
                                        <li>Language</li>
                                        <li>Category</li>
                                        <li>Order</li>
                                        <li>Limit</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Example output</h4>
                                    <p class="card-description">
                                        <small class="text-muted">
                                            Example of json that API returns
                                        </small>
                                    </p>
                                    <div>
                                        <div class="form-group">
                                            <textarea disabled class="form-control fs-1" rows="5" ng-model="exampleOutput"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Language:</h4>
                                    <p class="card-description">
                                        <small class="text-muted">
                                            List of available languages
                                        </small>
                                    </p>

                                    <input disabled type="text" class="form-control fs-1" ng-model="languageList">
                                    <br>
                                    <p>By default language is set to "en"</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Category:</h4>
                                    <p class="card-description">
                                        <small class="text-muted">
                                            List of available categories per language
                                        </small>
                                    </p>

                                    <div class="form-group">
                                        <textarea disabled class="form-control fs-1" rows="20" ng-model="categoryList"></textarea>
                                    </div>

                                    <p>By default category is set to "latest"</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Order:</h4>
                                    
                                    <p>
                                        Order parameter can be either <i>"ASC"</i> or <i>"DESC"</i>.<br>
                                        By using <i>"DESC"</i> news will be listed from latest to oldest and by using <i>"ASC"</i> news are listed from oldest to newest.<br><br>
                                        By default order is set to "DESC".
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Limit:</h4>
                                    
                                    <p>
                                        Limit parameter is optional.<br>Limit represents number of news that are fetched from API.<br><br>
                                        By excluding limit parameter all news in the corresponding category and language will be fetched.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                                2018
                                <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights
                                reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &
                                made
                                with
                                <i class="mdi mdi-heart text-danger"></i>
                            </span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="vendors/js/vendor.bundle.base.js"></script>
        <script src="vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="js/off-canvas.js"></script>
        <script src="js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="js/dashboard.js"></script>
        <!-- End custom js for this page-->
</body>

</html>